    window-rule {
        geometry-corner-radius 8 
        clip-to-geometry true
    }

    window-rule {
        match app-id="steam"
       match app-id="galculator"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    window-rule {
       match app-id="steam" title="Friend List"
       open-floating false
       default-column-width { proportion 0.2; }
    }

    window-rule {
       match app-id="Alacritty"
       match app-id="chromium"
       match app-id="discord"
       default-column-width { proportion 0.8; }
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
