workspace "1" {
    layout {
        default-column-width {
            proportion 0.5
        }
    }
}

workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"

